* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
  background: #1c1d23;
  color: white;
}

.auth .title {
  font-weight: 700;
  font-size: 56px;
}
.auth .form {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 14px;
  width: 25vw;
  margin: 0 auto;
  margin-top: 30px;
}
.auth .form-group {
  margin-top: 25px;
  width: 100%;
}
.auth .form-group .form-control {
  border-radius: 100px;
  background: #242630;
  border: none;
  height: 30px;
  font-size: 14px;
  margin-top: 10px;
  color: white;
}
.auth .btn-primary {
  width: 180px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 100px;
  border: none;
  outline: none;
}
.auth .btn-link {
  color: #3f4459;
  text-decoration: none;
  font-weight: 700;
}
.auth .btn-link:hover {
  color: white;
}
.auth .form-group-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 55px;
}

.course-view h1 {
  font-size: 40px;
  font-weight: 700;
  width: 100%;
  margin-top: 30px;
}
.course-view .course-subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-weight: 700;
  font-size: 14px;
}
.course-view .course-info-paragraph {
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  line-height: 25px;
}
.course-view .course-info-heading {
  font-weight: 700;
  font-size: 12px;
  text-align: left;
  margin-top: 30px;
  text-transform: uppercase;
}
.course-view .course {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

@media (min-width: 1198px) {
  .course {
    width: 50vw;
  }
}
.lecture {
  margin-bottom: 50px;
}
.lecture .lecture-image {
  width: 100%;
}
.lecture .lecture-info .lecture-title {
  font-weight: bold;
  margin-top: 15px;
}
.lecture .lecture-info .lecture-meta {
  float: right;
  font-weight: 400;
}

.course-player .course-video {
  margin-top: 50px;
  filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.15));
  border-radius: 20px !important;
  overflow: hidden;
}
.course-player .course-player-title {
  font-weight: 700;
  font-size: 28px;
  margin-top: 100px;
}
.course-player .course-player-links {
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
}
.course-player .course-player-paragraph {
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
}
.course-player .btn-primary {
  width: 180px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 100px;
  border: none;
  outline: none;
}
.course-player .btn-secondary {
  width: 180px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 100px;
  border: none;
  outline: none;
}
.course-player .button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course-player .button-group-margin {
  margin-top: 60px;
}
.course-player .button-group a {
  color: white;
  text-decoration: none;
}

.video-js-responsive-container.vjs-hd {
  padding-top: 56.25%;
}

.video-js-responsive-container.vjs-sd {
  padding-top: 75%;
}

.video-js-responsive-container {
  width: 100%;
  position: relative;
}

.video-js-responsive-container .video-js {
  height: 100% !important;
  width: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}
