* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
  background: #1c1d23;
  color: white;
}

.auth .title {
  font-weight: 700;
  font-size: 56px;
}
.auth .form {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 14px;
  width: 25vw;
  margin: 0 auto;
  margin-top: 30px;
}
.auth .form-group {
  margin-top: 25px;
  width: 100%;
}
.auth .form-group .form-control {
  border-radius: 100px;
  background: #242630;
  border: none;
  height: 30px;
  font-size: 14px;
  margin-top: 10px;
  color: white;
}
.auth .btn-primary {
  width: 180px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 100px;
  border: none;
  outline: none;
}
.auth .btn-link {
  color: #3f4459;
  text-decoration: none;
  font-weight: 700;
}
.auth .btn-link:hover {
  color: white;
}
.auth .form-group-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 55px;
}

.course-view h1 {
  font-size: 40px;
  font-weight: 700;
  width: 100%;
  margin-top: 30px;
}
.course-view .course-subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-weight: 700;
  font-size: 14px;
}
.course-view .course-info-paragraph {
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  line-height: 25px;
}
.course-view .course-info-heading {
  font-weight: 700;
  font-size: 12px;
  text-align: left;
  margin-top: 30px;
  text-transform: uppercase;
}
.course-view .course {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

@media (min-width: 1198px) {
  .course {
    width: 50vw;
  }
}
.lecture {
  margin-bottom: 50px;
}
.lecture .lecture-image {
  width: 100%;
}
.lecture .lecture-info .lecture-title {
  font-weight: bold;
  margin-top: 15px;
}
.lecture .lecture-info .lecture-meta {
  float: right;
  font-weight: 400;
}
