.about {
    margin-top: 80px;
    
}
.about-title {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}
.makers{
    margin-top: 70px;
}
.makers-specifications{
   color: #0099ff;
   font-size: 20px;
}
.makers-discription{
    font-size: 16px;
}
.img-makers{
    width:200px;
    height:200px;
    border-radius: 1000px;

}
.col-makers-img{
    text-align: center;
}
.col-makers-content{
    margin-top: 10px;
}
.row-makers{
    margin-top: 60px;
}