* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins";
    background: #1c1d23;
    color: white;
}

@import "auth.scss";
@import "course.scss";
@import "lecture.scss";
@import "coursevideo.scss";