.auth{
    .title {
        font-weight: 700;
        font-size: 56px;
    }
    .form {
        display:flex;
        flex-direction: column;
        font-weight: 700;
        font-size: 14px;
        width: 25vw;
        margin: 0 auto;
        margin-top: 30px;
    }
    .form-group{
        margin-top: 25px;
        width: 100%;
        
        
        .form-control{
            border-radius: 100px;
            background: #242630;
            border: none;
            height: 30px;
            font-size: 14px;
            margin-top: 10px;
            color:white;
        }
    }
    .btn-primary {
        width: 180px;
        font-size: 14px;
        font-weight: 700;
        border-radius: 100px;
        border: none;
        outline: none;
    }
    .btn-link {
        
        color: #3f4459;
        text-decoration: none;
        font-weight: 700;
    }
    .btn-link:hover{
        color:white;
    }
    .form-group-button {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 55px;
    }
    .alert{
        width:50vh;
        font-size:14px;
        padding:7px;
    }
}