.catalogue {
    margin-top: 80px;
}
.catalogue-title {
    font-size: 56px;
    font-weight: 700;
    text-align: center;
}
.search-box {
    width: 572px;
    height: 30px;
    background-color: #242630;
    color: #474e71;
    font-size: 12px;
    font-weight: 400;
    border-radius: 100px;
    padding-top: 5px;
    margin-top: 50px;
}
.gsearch {
    background-color: #242630;
    border: 0;
    color:rgb(175, 175, 175);
    border-radius: 100px;
    outline:none;
}
