.course-view{
    
    h1{
        font-size:40px;
        font-weight:700;
        width:100%;
        margin-top:30px;
    }
    .course-subtitle{
        display: flex;
        justify-content: space-between;
        align-items: center;    
        margin-top:20px;
        font-weight:700;
        font-size:14px;
    }
    .lecture-image{
        border-radius: 10px;
    }
    .lecture-title{
        font-size:18px;
    }
    
    .course-info-paragraph{
        // text-align: justify;
        font-size:16px;
        font-weight:400;
        margin-top:10px;
        line-height: 25px;
    }
    .course-info-heading{
        font-weight:700;
        font-size:16px;
        // text-align:left;
        margin-top:30px;
        text-transform: uppercase;
    }
    
    .course{
        margin:0 auto ;
        text-align:center;
        margin-bottom:50px;
    }
    .video-link{
        text-decoration:none;
        color:white;
    }
    
    
}

@media (min-width: 1198px){
    .course{
        width: 50vw;
    }
}
.img-instructor{
    width:679px;
    height:auto;
    border-radius: 20px;
  
  }