.heading {
    font-weight: 700;
    font-size: 40px;
}

.section1 {
    background-image: url("/images/wave-navbar.svg");
    z-index: -100000;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.introduction {
    text-align: center;
}
.introduction-row {
    display: inline-block;
}


.introduction-heading {
    font-weight: 700;
}
.introduction-btn {
    width: 129px;
    height: 40px;
    font-weight: 600;
    background-color: #2a2b35;
    color: #ffffff;
    border-radius: 100px;
}
.introduction-btn:hover {
    background-color: #3d57e6;
    color: #ffffff;
    border-radius: 100px;
}
.introduction-line {
    font-weight: 400;
    font-size: 18px;
}


@media screen and (max-width: 900px) {
    .display-image {
        width: 400px;
        height: auto;
    }
}
@media screen and (max-width: 768px) {
    /* .display-image {
        width: 300px;
        height: auto;
    } */
    .introduction-heading {
        font-weight: 700;
        font-size: 20px;
    }
    .introduction-btn {
        width: 100px;
        height: 30px;
        font-size: 8px;
        background-color: #2a2b35;
        color: #ffffff;
        border-radius: 100px;
    }
    .introduction-line {
        font-weight: 400;
        font-size: 12px;
    }
}

@media screen and (max-width: 576px) {
    /* .display-image {
        width: 200px;
        height: auto;
    } */

    .introduction-btn {
        width: 70px;
        height: 20px;

        background-color: #2a2b35;
        color: #ffffff;
        border-radius: 100px;
    }
}

.shadow-divider {
    text-align: center;
    padding: 30px 0;
    margin: 0 30%;
    box-shadow: 0 1em 1em -1em rgba(0, 0, 0, 0.25);
}
.discipline {
    text-align: center;
    margin-top: 150px;
}
@media screen and (max-width: 900px) {
    .discipline {
        margin-top: 130px;
    }
    .discipline-card {
        width: 200px;
        height: auto;
    }
}
@media screen and (max-width: 768px) {
    .discipline {
        margin-top: 100px;
    }
    .discipline-card {
        width: 170px;
        height: auto;
    }
    .discipline-heading {
        font-size: 20px;
    }
}

@media screen and (max-width: 576px) {
    .discipline {
        margin-top: 80px;
    }
    .discipline-card {
        width: 150px;
        height: auto;
    }
}

.plans {
    text-align: center;
    margin-top: 150px;
}
.plans-card {
    width: 293px;
    height: 388px;
    background-color: #20222b;
    border-radius: 20px;
    padding-top: 40px;
    display: block;
    margin-top: 50px;
}

.plans-card-subtitle {
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
}
.plans-card-title {
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
}
.plans-card-icon {
    font-size: 75px;
    margin-top: 20px;
}
.plans-card-btn {
    background-color: #2a2c37;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    width: 100%;
    height: 40px;
    border: 0;
    font-size: 12px;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
}
.plans-card-btn:hover {
    background-color: #224eff;
}
@media screen and (max-width: 992px) {
    .plans {
        margin-top: 130px;
    }
    .plans-card {
        width: 230px;
        height: auto;
        background-color: #20222b;
        border-radius: 20px;
        padding-top: 35px;
        display: block;
        margin-top: 40px;
    }

    .plans-card-subtitle {
        font-weight: 700;
        font-size: 14px;
        color: #ffffff;
    }
    .plans-card-title {
        font-weight: 700;
        font-size: 24px;
        color: #ffffff;
    }
    .plans-card-icon {
        font-size: 65px;
        margin-top: 15px;
    }
    .plans-card-btn {
        background-color: #2a2c37;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 100px;
        width: 100%;
        height: 30px;
        border: 0;
        font-size: 12px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .card-text {
        font-size: 14px;
    }
}
@media screen and (max-width: 768px) {
    .plans {
        margin-top: 100px;
    }
    .plans-heading {
        font-size: 20px;
    }
    .plans-card {
        width: 220px;
        height: auto;
        background-color: #20222b;
        border-radius: 20px;
        padding-top: 35px;
        display: block;
        margin-top: 30px;
    }

    .plans-card-subtitle {
        font-weight: 700;
        font-size: 14px;
        color: #ffffff;
    }
    .plans-card-title {
        font-weight: 700;
        font-size: 20px;
        color: #ffffff;
    }
    .plans-card-icon {
        font-size: 55px;
        margin-top: 12px;
    }
    .plans-card-btn {
        background-color: #2a2c37;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 100px;
        width: 100%;
        height: 30px;
        border: 0;
        font-size: 12px;
        font-weight: 700;
          display: flex;
        justify-content: center;
        align-items: center;

    }
    .card-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 576px) {
    .plans {
        margin-top: 80px;
    }
    .card-text {
        font-size: 10px;
    }
}

.showcase {
    background-color: #3652e4;
    margin-top: 200px;
    padding: 80px;
}
.showcase-img {
    width: 450px;
    height: auto;
}

@media screen and (max-width: 900px) {
    .showcase-img {
        width: 300px;
        height: auto;
    }
}
@media screen and (max-width: 600px) {
    .showcase-img {
        width: 200px;
        height: auto;
    }
}

.showcase-heading {
    margin-top: 50px;
}
.showcase-para {
    color: #b6bfea;
    font-weight: 400;
    font-size: 14px;
    margin-top: 50px;
}
.showcase-btn {
    width: 186px;
    height: 40px;
    background-color: #3f5ae9;
    margin-top: 50px;
    margin-right: 20px;
    border: 0;
    border-radius: 100px;
    color: #ffffff;
    font-size: 12px;
}
@media screen and (max-width: 700px) {
    .showcase-btn {
        width: 150px;
        height: 32px;

        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
        color: #ffffff;
        font-size: 10px;
    }
}

.organization {
    margin-top: 150px;
    text-align: center;
}

.organization-subtitle {
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.055em;
    text-align: center;
    margin-top: 50px;
}
.organization-title {
    color: rgba(55, 81, 215, 1);
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: center;
}
.charity-icon {
    margin-top: 70px;
    width: 106px;
    height: auto;
}
.charity-title {
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 30px;
    color: #2c2f40;
}
.organization-btn {
    width: 205px;
    height: 40px;
    background-color: #2c2f40;
    color: #536be9;
    font-weight: 700;
    font-size: 14px;
    border: 0;
    border-radius: 100px;
    margin-top: 30px;
}
@media screen and (max-width: 900px) {
    .organization-img {
        width: 400px;
        height: auto;
    }
}
@media screen and (max-width: 768px) {
    .organization-img {
        width: 300px;
        height: auto;
    }
}

@media screen and (max-width: 576px) {
    .organization-img {
        width: 200px;
        height: auto;
    }
}

.trending {
    margin-top: 150px;
    text-align: center;
}

.trending-row {
    margin-top: 50px;
}

.trending-card-img {
    width: 350px;
    height: 200px;
}
.trending-card {
    width: 350px;
    height: auto;
}
.trending-card-title {
    text-align: left;
    font-weight: 700;
    font-size: 18px;
}
.video-link{
    text-decoration:none;
    color:white;
    
}
.video-link:hover{
    color:white;
}
.trending-card-subtitle {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
}
.trending-btn {
    width: 205px;
    height: 40px;
    background-color: #2c2f40;
    color: #536be9;
    font-weight: 700;
    font-size: 14px;
    border: 0;
    border-radius: 100px;
    margin-top: 50px;
    outline: none;
}

.donations {
    margin-top: 150px;
    width: 700px;
    height: auto;
}
.donations-icon {
    width: 100px;
}
.donations-title {
    font-weight: 700;
    font-size: 14px;
    color: #2c2f40;
}
.donations-numbers {
    font-weight: 700;
    font-size: 28px;
    color: #0099ff;
}

@media screen and (max-width: 700px) {
    .donations {
        margin-top: 150px;
        width: 400px;
        height: auto;
    }
    .donations-icon {
        width: 70px;
    }
    .donations-title {
        font-weight: 700;
        font-size: 10px;
        color: #2c2f40;
    }
    .donations-numbers {
        font-weight: 700;
        font-size: 20px;
        color: #0099ff;
    }
}