
.instructor-top {

    margin-top: 70px;
    width: 572px;
    height: auto;
}
.instructor-title {
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    
    
}
.instructor-name {
    
        font-size: 28px;
        font-weight: 700;
    }

.col-img{
    text-align: center;
}
.instructor-img {
    border-radius:1000px;
    width: 200px;
    height: auto;
   margin-right: 10px;
    
    }
    .instructor-content-box{
        margin-top: 10px;
    }
.instructor-discription {
    font-size: 14px;
    text-align: justify;
}
.instructor {
    
    margin-top: 100px;
}


.instructor-row {
    width: 50%;
    height: auto;
    margin-top: 30px;
}

.video-instructor {
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
}

.video-time {
    font-size: 14px;
    font-weight: 400;
    display: inline;
    float: right;
  
    
}



.instructor-specs {

    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    
}
.instructor-btn {
    padding: 5px 13px;
    
    border-radius: 100px;
    color: #ffffff;
    background-color: #773dd6;
    font-size: 14px;
    font-weight: 400;
}
.buttons {
    text-align: center;
    margin-top: 100px;
}


.instructor-link-btn{
    text-decoration: none;
}