.navbar-final {
    background-color: transparent;
}
.navbar-brand {
    font-weight: 700;
}
.nav-link {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 14px;
}
.nav-link:hover {
    color: #9dabec;
    transition: 0.1s;
}
.nav-btn {
    background-color: #2a45cf;
    border: 0;
    font-weight: 700;
    padding: 5px 30px;
    margin-top: -5px;
}
.nav-btn:hover {
    background-color: #253ab4;
    transition: 0.1s;
}
.navbar-brand {
    color: #ffffff;
}
.navbar-brand:hover {
    color: #ffffff;
}
.navbar-toggler {
    background: #1931a8 !important;
}